*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
button{
    border: none;
    background-color: white;
    cursor: pointer;
}
.navbar{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    border-radius: 15px;
    background-color: rgb(242, 244, 248);
}
.left{
    display: flex;
    align-items: center;
    margin-left: 7rem;
}
.text{
    display: flex;
}
.right{
    display: flex;
    margin-right: 7rem;
    align-items: center;
}
.image{
    height: 35px;
    width: auto;
}
.coun{
    filter: grayscale(0);
    transition: all 0.2s ease 10ms;
    border-radius: 7px;
    height: 20px;
    width: auto;
    filter: brightness(1.1);
}
.coun:hover{
    filter: grayscale(1);
}
.menus{
    color: rgb(95, 108, 125);
    font-size: medium;
    font-weight: 500;
    cursor: pointer;
}
.dropdown{
    overflow: hidden;
    transition: all 200ms cubic-bezier(0.23, 1, 0.320, 1) 50ms;
    padding: 1rem;
    justify-content: center;
}
.option{
    display: flex;
    gap:1rem;
    width: 95%;
    padding: 0.5rem;
    margin: 0.5rem;
    align-items: center;
}
.optext{
    flex-direction: column;
    align-items: center;
}
.icon{
    border-radius: 50%;
    background-color: rgb(43, 132, 234);
    height: 32px;
    aspect-ratio: 1;
    border-style: solid;
    border-color: rgb(216, 237, 255);
}
.option:hover{
    box-shadow: 0px 0px 2px rgb(148, 148, 148);
    background-color: rgb(226, 240, 253);
}
.option:hover .head a{
    color: rgb(25, 108, 203);
}
.option:hover .icon{
    background-image: linear-gradient(to top right, rgb(185, 218, 255), rgb(43, 132, 234));
}
.dropdown:hover .menus{
    color: rgb(43, 132, 234);
}
.dropbox{
    margin-top: 1rem;
    display: none;
    border-radius: 1px;
    box-sizing: border-box;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    padding-right: 5rem;
    box-shadow: 0px 0px 2px rgb(148, 148, 148);
    justify-self: self-start;
}

.dropdown:hover .dropbox {
    display: flex;

}
.drocon{
    display: flex;
    gap: 2rem;
}

.login{
    color: rgb(19, 100, 241);
    font-size: 0.875rem;
    padding: 0.65rem 1rem;
    font-weight: 500;
    transition: 20ms cubic-bezier(0.23, 1, 0.320, 1);
}
.login:hover{
    background-color: rgb(240, 240, 240);
}

.sign{
    background-color: rgb(19, 100, 241);
    font-size: 0.875rem;
    color: white;
    padding: 0.65rem 1rem;
    font-weight: 600;
    transition: 110ms cubic-bezier(0.23, 1, 0.320, 1);
    border-style: solid;
    border-color: rgb(231, 231, 231);
}
.sign:hover{
    background-color: rgb(8, 53, 136);
}
.leftop{
    display: flex;
    flex-direction: column;
    align-items:start;
}
.head a{
    display: flex;
    color: rgb(10, 55, 106);
    font-weight: 500;
    font-size: medium;
}
.para{
    color: rgb(161, 161, 161);
    font-size: small;
}
.droptext{
    color: rgb(95, 108, 125);
    font-size: medium;
    font-weight: 300;
    text-align: left;
    align-items: self-start;
}
.droptextmid{
    color: rgb(95, 108, 125);
    font-size: medium;
    font-weight: 300;
    text-align: left;
    align-items: self-start;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.midop{
    display: flex;
    flex-direction: column;
    align-items:start;
}
